.principal{
    margin-top: 20px;
}

.canvas-container{
    height: 600px;
    border: 2px solid black;    
}
div.guardado{
    width: 20%;
    margin: 3px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    
}

#contenedorLienzos{
    overflow-y: scroll;
    height: 500px;
}

#lienzos{
  display: inline-block;
  vertical-align: right;
  height: auto;
  margin-top: 5px;
  padding-top: 10px;
  border-top: solid 2px;
  
}

.botonCRUD{
    height: auto;
    width:fit-content;
    margin-left: 5px;
}

#elementoLienzo{
    border-bottom: solid 3px;
    height:fit-content;
}

#lienzoGuardado{
    width: 95%;
    height: 160px;
    border: 2px solid black;
}

#botonesLienzoGuardado{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.pizarra{
    width: 58%;
    margin: 2px;
}
div.pizarra #pizarra{
    width: 100%;
    
}

div.tools{
    width: 20%;
    border: 1px solid black;
    padding: 10px;
    height: 600px;
    padding-top: 70px;
    margin: 2px;
  }
.boton_imagen{
    
    border-width: 0px;
    background-color: white;
    cursor: pointer;
    margin-inline: 10px;
}

.boton_imagen:hover{
    background-color: grey;
}

.imagen{
    height: 40px;
    width: 40px;
}

.boton_color{
    width: 40px;
    height: 40px;
    margin-inline: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}
.selector_color{
    position: relative;
    width: 40px;
    height: 40px;
    top: 10px;
    align-items: center;
    border:none;
    background-color: white;
}
button.func{
    position: relative;
    margin-top: 10px;
}
input.sub{
    opacity: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

input#vol{
    width: 150px;
}

div.colores{
    width: 100%;
    margin: 10px;
}

div.colores .sec1{
    width: 100%;
    margin: 4px;
    text-align: center;
}
div.colores .sec2{
    width: 100%;
    margin: 4px;
    text-align: center;
}
div.colores .sec3{
    width: 100%;
    margin: 4px;
    text-align: center;
}

div.herramientas{
    width: 100%;
    margin: 10px;
}

div.herramientas .herra{
    width: 100%;
    text-align: center;
}

div.grosor{
    width: 100%;
    margin: 10px;
}
div.grosor .gros{
    width: 100%;
    text-align: center;
}
div.figuras{
    width: 100%;
    margin: 10px;
}
div.figuras .fig{
    width: 100%;
    text-align: center;
}

div.funciones{
    width: 100%;
    margin-top: 10px;
}
div.funciones .fun{
    width: 100%;
    text-align: center;
}
